source 'https://rubygems.org'

gem 'erubis'
gem 'nyara', '<%= Nyara::VERSION %>', require: 'nyara/nyara'
gem 'mongoid', '3.1.4'
gem 'linner', github: "SaitoWu/linner"

gem "sass"
gem "coffee-script"

group :deploy do
  gem 'rake'
end

group :test do
  gem 'rspec'
end
