source 'https://rubygems.org'

<% if template_ext == 'erb' -%>
gem 'erubis'
<% else -%>
gem 'slim'
<% end -%>
gem 'nyara', '<%= Nyara::VERSION %>', require: 'nyara/nyara'
gem 'mongoid', '3.1.4'

group :development do
  gem 'linner', github: "SaitoWu/linner"
end

group :deploy do
  gem 'rake'
end

group :test do
  gem 'rspec'
end
