require "rake"
require "nyara/rake/assets"
<%- if orm == 'activerecord' -%>
require "nyara/rake/db"
<%- end -%>

Dir.chdir __dir__

desc "print all routes"
task :routes do
  require_relative "config/application"
  Nyara::Route.print_routes
end
