<h1>Congratulations! You finished first step of creating an awesome website!</h1>

You may:

<ul>
  <li><a href="https://github.com/luikore/nyara/wiki/Manual">Learn more about nyara</a></li>
  <li><a href="http://slim-lang.org/">Switch template engine to slim</a></li>
  <li><a href="https://github.com/SaitoWu/linner">See how assets work</a></li>
  <li><a href="https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=en">Install the livereload plugin on Chrome</a></li>
</ul>
